= render partial: 'index_header'

.div{ data: { controller: 'salary-payment-drafts'}}
  .table-root
    .table-header
      .col-xs-2= t('views.remunerations.salary_payment_drafts.worked_days.employee')
      .col-xs-2= t('views.commons.rut')
      .col-xs-8
        .col-sm-4
          = t('views.remunerations.salary_payment_drafts.worked_days.total_days')
          %span.fa.fa-info-circle{ title: t('views.remunerations.salary_payment_drafts.worked_days.total_days_tooltip'), data: { toggle: 'tooltip' }, style: 'display: inline-block' }
        .col-sm-4= t('views.remunerations.salary_payment_drafts.worked_days.total_bono_days')
        .col-sm-4= t('views.commons.actions')
    = render partial: 'async/remunerations/worked_days_table_row', collection: @employees, as: :employee
    = pagy_bootstrap_nav(@pagy_properties).html_safe

    .div
      .col-xs-6
        %h4.hidden-xs &nbsp;
        .btn.btn-default.btn-block.cancel-btn-fw=t('views.remunerations.salary_payment_drafts.clean_form')
      .col-xs-6
        %h4.hidden-xs &nbsp;
        = link_to worked_days_remuneration_salary_payment_drafts_path do
          .btn.btn-green-cf.btn-block.disable_after_click.permanent=t(:save)
