= turbo_frame_tag "extra_hours_employee_#{employee.id}" do
  .table-row
    .col-xs-2= employee.full_name
    .col-xs-2= employee.rut&.rutify
    .col-xs-8{ style: 'padding: 0px;'}
      - salary = @salaries[employee.id]
      - salary_payment_draft = @salary_payment_drafts[salary.id]
      - if salary_payment_draft.present?
        = form_for salary_payment_draft , url: remuneration_salary_payment_draft_path(salary_payment_draft.id), method: 'PATCH', remote: true, authenticity_token: true, html: { class: "form form-inline hide-inputs", id: "form-#{employee.id}" } do |f|
          = f.hidden_field :updater_id, value: current_user.id
          - if columns[:extra_hour]
            .col-sm-3
              - if salary.additional_hour_price > 0
                = render(InputWithIconComponent.new(icon_class: 'fa fa-info-circle', type: 'number', title: "#{salary.additional_hour_price}%", value: salary_payment_draft.extra_hour, id: "extra_hours-#{employee.id}", name: 'salary_payment_draft[extra_hour]', options: { min: 0, data: { action: 'focusout->salary-payment-drafts#call  input->salary-payment-drafts#enableSubmit', tab: 'extra_hours' }}))
              - else
                = f.number_field :extra_hour, value: '', class: 'form-control input-sm', disabled: true, title: t('views.remunerations.salary_payment_drafts.extra_hours.extra_hour_tooltip'), data: { toggle: 'tooltip' }, style: 'display: inline-block'
          - if columns[:extra_hour_2]
            .col-sm-3
              - if salary.additional_hour_price_2 > 0
                = render(InputWithIconComponent.new(icon_class: 'fa fa-info-circle', type: 'number', title: "#{salary.additional_hour_price_2}%", value: salary_payment_draft.extra_hour_2, id: "extra_hours-#{employee.id}", name: 'salary_payment_draft[extra_hour_2]', options: { min: 0, data: { action: 'focusout->salary-payment-drafts#call  input->salary-payment-drafts#enableSubmit', tab: 'extra_hours' }}))
              - else
                = f.number_field :extra_hour_2, value: '', class: 'form-control input-sm', disabled: true, title: t('views.remunerations.salary_payment_drafts.extra_hours.extra_hour_tooltip'), data: { toggle: 'tooltip' }, style: 'display: inline-block'
          - if columns[:extra_hour_3]
            .col-sm-3
              - if salary.additional_hour_price_3 > 0
                = render(InputWithIconComponent.new(icon_class: 'fa fa-info-circle', type: 'number', title: "#{salary.additional_hour_price_3}%", value: salary_payment_draft.extra_hour_3, id: "extra_hours-#{employee.id}", name: 'salary_payment_draft[extra_hour_3]', options: { min: 0, data: { action: 'focusout->salary-payment-drafts#call  input->salary-payment-drafts#enableSubmit', tab: 'extra_hours' }}))
              - else
                = f.number_field :extra_hour_3, value: '', class: 'form-control input-sm', disabled: true, title: t('views.remunerations.salary_payment_drafts.extra_hours.extra_hour_tooltip'), data: { toggle: 'tooltip' }, style: 'display: inline-block'
        .col-sm-3
          = button_to reset_remuneration_salary_payment_draft_path(salary_payment_draft.id), method: :post, authenticity_token: true, params: { tab: :extra_hours, columns: columns.to_json }, class: 'btn btn-default', title: t(:restart), data: { toggle: 'tooltip' }, style: 'display: inline-block' do
            .fa.fa-history
      - else
        = form_for SalaryPaymentDraft.new, url: remuneration_salary_payment_drafts_path, method: 'POST', remote: true, authenticity_token: true, html: { class: "form form-inline hide-inputs", id: "form-#{employee.id}" } do |f|
          = f.hidden_field :salary_id, value: salary.id
          = f.hidden_field :payment_period_expense_id, value: @payment_period_expense.id
          = f.hidden_field :creator_id, value: current_user.id
          = hidden_field_tag 'tab', :extra_hours
          = hidden_field_tag 'columns', columns.to_json
          - if columns[:extra_hour]
            .col-sm-3
              - if salary.additional_hour_price > 0
                .input-icons
                  = render(InputWithIconComponent.new(icon_class: 'fa fa-info-circle', type: 'number', title: "#{salary.additional_hour_price}%", value: 0, id: "extra_hours-#{employee.id}", name: 'extra_hour', options: { min: 0, data: { action: 'focusout->salary-payment-drafts#call  input->salary-payment-drafts#enableSubmit', tab: 'extra_hours' }}))
              - else
                = f.number_field :extra_hour, value: '', class: 'form-control input-sm', disabled: true, title: t('views.remunerations.salary_payment_drafts.extra_hours.extra_hour_tooltip'), data: { toggle: 'tooltip' }, style: 'display: inline-block'
          - if columns[:extra_hour_2]
            .col-sm-3
              - if salary.additional_hour_price_2 > 0
                = render(InputWithIconComponent.new(icon_class: 'fa fa-info-circle', type: 'number', title: "#{salary.additional_hour_price_2}%", value: 0, id: "extra_hours-#{employee.id}", name: 'extra_hour_2', options: { min: 0, data: { action: 'focusout->salary-payment-drafts#call  input->salary-payment-drafts#enableSubmit', tab: 'extra_hours' }}))
              - else
                = f.number_field :extra_hour_2, value: '', class: 'form-control input-sm', disabled: true, title: t('views.remunerations.salary_payment_drafts.extra_hours.extra_hour_tooltip'), data: { toggle: 'tooltip' }, style: 'display: inline-block'
          - if columns[:extra_hour_3]
            .col-sm-3
              - if salary.additional_hour_price_3 > 0
                = render(InputWithIconComponent.new(icon_class: 'fa fa-info-circle', type: 'number', title: "#{salary.additional_hour_price_3}%", value: 0, id: "extra_hours-#{employee.id}", name: 'extra_hour_3', options: { min: 0, data: { action: 'focusout->salary-payment-drafts#call  input->salary-payment-drafts#enableSubmit', tab: 'extra_hours' }}))
              - else
                = f.number_field :extra_hour_3, value: '', class: 'form-control input-sm', disabled: true, title: t('views.remunerations.salary_payment_drafts.extra_hours.extra_hour_tooltip'), data: { toggle: 'tooltip' }, style: 'display: inline-block'
          .col-sm-3
            .btn.btn-default{ title: t(:restart), data: { toggle: 'tooltip' }, style: 'display: inline-block' }
              .fa.fa-history
