%tr.custom-table-hover{id: "property_fine_row_#{property_fine.id}"}
  %td
    - if bulk_select?(can?(:edit, PropertyFine), @current_user)
      = form_for :prop_fines do |f|
        = f.check_box :checked, class: "selected-property-fine", data: {"property-fine-id": "#{property_fine.id}"}, onchange: "$.changeCheckboxPropertyFine(#{property_fine.id}); $.changeCheckboxPropertyFine(#{property_fine.id}, '#update_multiple_form', '#property_fines_to_update_ids')"
  %td.wrap-text.wrap-column= tooltip_if_needed(property_fine.property.to_s, 75)
  %td.hidden-xs= @period_expense.to_s
  %td= property_fine.to_s
  %td.hidden-xs.text-right= to_currency amount: property_fine.get_unit_price
  %td.hidden-xs= property_fine.fund_id == PropertyFine::COMMON_EXPENSE_FUND_ID ? I18n.t('views.common_expenses.one') : property_fine.fund
  %td.hidden-xs= property_fine.amount
  %td.text-right= to_currency amount: property_fine.price
  %td.left
    .hide-when-multiple-delete
      - if can?( :show, property_fine )
        = link_to property_fine_path(property_fine, format: "pdf") do
          .btn.btn-xs.btn-default{"data-toggle": "tooltip", title: t('views.property_fine.index.download_pdf.title')}
            %span.fa.fa-file-pdf-o
      - unless current_tab_is_canceled_fines
        - if can?( :edit, property_fine )
          = link_to edit_property_fine_path(property_fine) do
            .btn.btn-xs.btn-default{"data-toggle": "tooltip", title: t('views.property_fine.index.edit.title')}
              %span.fa.fa-pencil
        - if can?(:notify, property_fine)
          - tooltip_message = show_condition(property_fine) ?  t('views.property_fine.tooltip.notify') : t('views.property_fine.tooltip.disable_notify')
          - anchor_href = show_condition(property_fine) ? notify_property_fine_path(property_fine, query_params) : "javascript:void(0)"
          = link_to anchor_href, method: :post do
            .btn.btn-xs.btn-default{ title: tooltip_message, data: { toggle: :tooltip }}
              %span.fa.fa-envelope-o

        - if (can? :destroy, property_fine ) && !property_fine.issued
          = form_for property_fine, method: :delete, remote: true, html: {id: "delete_property_fine_#{property_fine.id}", class: "inline-form", data: {controller: 'property-fines', property_fines_target: "form" }} do |f|
            = hidden_field_tag :page, params[:page]
            = hidden_field_tag :month, params[:month]
            = hidden_field_tag :year, params[:year]
            = hidden_field_tag :property_fine_category, @property_fine_category
            = hidden_field_tag :authenticity_token, form_authenticity_token
            %div{data: {controller: 'property-fines'}}
              %span{ data: { action: 'click->property-fines#openModal', toggle: 'modal', target: '#generic-delete-modal', fine_id: "delete-fine-#{property_fine.id}", delete_body: t('views.property_fine.destroy_modal.body'), delete_title: t('views.property_fine.destroy_modal.title'), confirm_text: t('views.property_fine.destroy_modal.button') } }
                .btn.btn-default.btn-xs{ data: { toggle: :tooltip, placement: :top }, title: t('views.property_fine.index.delete.title') }
                  %span.fa.fa-trash-o

        - if true
          = form_for property_fine, url: delete_with_fee_group_property_fine_path(property_fine), method: :delete, remote: true, html: {class: "inline-form", data: { property_fines_target: "form" }} do |f|
            = hidden_field_tag :page, params[:page]
            = hidden_field_tag :month, params[:month]
            = hidden_field_tag :year, params[:year]
            = hidden_field_tag :property_fine_category, @property_fine_category
            = hidden_field_tag :authenticity_token, form_authenticity_token

            = link_to "#", data:{controller: 'property-fines', action: 'click->property-fines#openModal', toggle: 'modal', target: '#generic-delete-modal', fine_id: "delete-fees-fine-#{property_fine.id}", delete_body: t('views.property_fine.index.delete.with_fees.confirm'), delete_title: t('views.property_fine.index.delete.with_fees.title'), confirm_text: t('views.property_fine.destroy_modal.button') } do
              .btn.btn-xs.btn-default{"data-toggle": "tooltip", title: t('views.property_fine.index.delete.with_fees.tooltip')}
                %span.fa.fa-plus
                %span.fa.fa-trash-o
