= turbo_stream.replace("worked_days_employee_#{@employee.id}", partial: "async/remunerations/#{@tab}_table_row", locals: { employee: @employee })
= turbo_stream.replace("#{@tab}_employee_#{@employee.id}", partial: "async/remunerations/#{@tab}_table_row", locals: { employee: @employee })
