= render(ModalComponent.new(id: 'confirm-clean-form-modal')) do |modal|
  - modal.with_body do
    %h5.modal-title.text-center.with-padding
      = t('views.remunerations.advances.modals.set_not_recurrent.title')
    .modal-body.text-center.custom-padding
      .row.center
        = t('views.remunerations.advances.modals.set_not_recurrent.body')
  - modal.with_footer do
    .col-lg-6
      %button.btn.btn-default.btn-block.modal-btn{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
        = t('cancel')
    .col-lg-6
      %a#set-not-recurrent-btn{ data: { method: :put } }
        .btn.btn-green-cf.btn-block
          = t('common.accept')
