.mainContent
  = render(HeaderBoxComponent.new(id: 'show-data-header', title: t('views.no_period_bills.bills_summary'))) do |header|
    - header.with_buttons_section do
      = link_to no_period_bills_path do
        .btn.btn-default.btn-xs
          .fa.fa-arrow-left
          = t('common.return')

  - if params[:tour].present?
    .div{ id: 'step-ten' }

  = render(FinderComponent.new(**@bills_summary_finder_params))

  %br
  - unless @properties.empty?
    .row
      .col-sm-12.bills-summary
        .col-sm-2
          .fa.fa-circle.red-circle
          .description= 'Deudas del mes impagas.'
        .col-sm-4
          .fa.fa-circle.blue-circle
          .description= 'Deudas parcialmente pagadas, solo se muestran montos impagos.'
        .col-sm-2
          .fa.fa-circle.black-circle
          .description= 'Deudas totalmente pagadas.'
        .pull-right{style: "padding-top:10px;"}
          = link_to bills_summary_no_period_bills_path("xlsx", name: @name, search: @search,year: @year), data: { intro: t('excels.commons.download_spreadsheet'), position: "bottom"} do
            .btn.btn-default.btn-xs
              .span.fa.fa-download
              = t('views.commons.download_excel')

  = render partial: 'no_period_bills/bills_summary/summary_table', locals: { year: @year, properties: @properties, properties_balance: @properties_balance_formatted}

- if params[:tour].to_i == 10
  :javascript
    document.addEventListener("DOMContentLoaded", () => {
      startPaymentTour()
    }, { once: true });

    function cancelTour() {
      window.history.replaceState("", "", "#{irs_mx_companies_path()}")
    }

    function startPaymentTour(){
      const PaymentTour = tourFactoryLearnBasic("#{I18n.t('home.payment_tour.id')}", "#{I18n.t('home.payment_tour.size')}");
      prepareTour(PaymentTour);
      PaymentTour.start();
      writeStepLearnBasicTour(PaymentTour, 10);
    }

    function prepareTour(tour){
      addSteptoLearnBasicTour({
        tour: tour,
        attachTo: { element: document.getElementById('step-ten'), on: 'center' },
        text: "#{t('home.payment_tour.step_ten.content_html')}",
        nextPath: "#{payments_path(tour: 11)}",
        previousPath: "#{irs_mx_companies_path({tour: 9})}",
        nextText: "#{I18n.t('common.next')}",
        previousText: "#{I18n.t('views.commons.back') }",
        id: 10,
        finalAction: false,
        cancelCallback: cancelTour
      })
    }
