= javascript_include_tag 'https://cdn.jsdelivr.net/npm/autonumeric@4.1.0'
.mainContent
  - if @community_uses_period_control
    = render partial: 'menu', locals: { view: :debts }
  - else
    = render partial: 'properties/no_period/menu', locals: { view: :debts }
  = render 'property_debt_structure_blocks'

  - if @paginated_debts.empty?
    %h4.col-xs-12.alert.alert-success= t('views.properties.debt_structure.no_debts', property:  @property)
  - else
    = render(HeaderBoxComponent.new(id: 'subheader-box', title: t('views.properties.debt_structure.debt_list'), subheader: true)) do |subheader|
      - subheader.with_title_extras do
        - if current_user.admin?
          .italic-center= t('views.properties.debt_structure.only_superadmin')
      - subheader.with_buttons_section do
        - if current_user.admin?
          = link_to new_debt_path(property_id: @property.id) do
            .btn.btn-red-cf.btn-xs
              .fa.fa-plus
              = t('views.properties.debt_structure.new_debt')
          - if @user_view
            = link_to debts_property_path(@property) do
              .btn.btn-default.btn-xs
                .fa.fa-eye
                = t('views.properties.debt_structure.superadmin_view')
          - else
            = link_to debts_property_path(@property, user_view: 1) do
              .btn.btn-default.btn-xs
                .fa.fa-eye
                = t('views.properties.debt_structure.user_view')

        = link_to debts_property_url(@property, format: :xlsx) do
          .btn.btn-default.btn-xs
            .fa.fa-download
            = t('common.download_excel')
    .table-root
      .table-header.flex-row
        -if current_user.admin?
          .flex-column= t('common.id')
        .flex-column= t('views.properties.debt_structure.headers.priority')
        .flex-column-3= t('views.properties.debt_structure.headers.description')
        .flex-column.right= t('views.properties.debt_structure.headers.amount')
        .flex-column.right= t('views.properties.debt_structure.headers.paid')
        .flex-column.right= t('views.properties.debt_structure.headers.balance')
        .flex-column= t('views.properties.debt_structure.headers.expiration')
        .flex-column= t('views.properties.debt_structure.headers.months_late')
        - if current_user.admin?
          .flex-column-2= t('common.actions')
      - @paginated_debts.each_with_index do |debt, index|
        - debt_description = debt.get_description(true, @one_debt_only)
        .table-row.flex-row
          - if current_user.admin?
            .flex-column
              = debt.id
          .flex-column= index + 1
          .flex-column-3= debt_description
          .flex-column.right= to_currency(amount: debt.price)
          .flex-column.right= to_currency(amount: debt.money_paid)
          .flex-column.right= to_currency(amount: debt.money_balance)
          .flex-column= l(debt.priority_date_formatted.in_time_zone(current_community.timezone), format: :default_slash)
          .flex-column= @property.get_debt_time(debt.priority_date - 1.minute)
          - if current_user.admin?
            .flex-column-2.actions-column
              = link_to edit_debt_path(debt) do
                .btn.btn-s.btn-default{ data: { toggle: :tooltip }, title: t('common.edit') }
                  .fa.fa-pencil
              = link_to reassign_payments_debt_path(debt.id) do
                .btn.btn-s.btn-default{ data: { toggle: :tooltip }, title: t('views.properties.debt_structure.tooltips.reasign_payments') }
                  .fa.fa-random
              .toggle_with{target: ".create_interests_d#{debt.id}", hide: ".hide_create_interests_d#{debt.id}", class: "hide_create_interests_d#{debt.id}" }
                .btn.btn-s.btn-default{ data: { toggle: :tooltip }, title: t('views.properties.debt_structure.tooltips.create_interest') }
                  .fa.fa-usd
              .toggle_with{hide: ".create_interests_d#{debt.id}", target: ".hide_create_interests_d#{debt.id}", class: "create_interests_d#{debt.id}", style: 'display:none' }
                .btn.btn-s.btn-default
                  .fa.fa-times{ data: { toggle: :tooltip }, title: t('common.close') }
              - unless debt.common_expense.present? && !debt.common_expense.initial_setup
                .btn.btn-s.btn-default{ data: { toggle: :tooltip }, title: t('common.delete'), onclick: "showConfirmDestroyModal(#{debt.id}, '#{debt_description}', '#{to_currency(amount: debt.price)}')" }
                  .fa.fa-trash
        - if current_user.admin?
          .table-row.flex-row{class: "create_interests_d#{debt.id}", style: 'display:none'}
            .flex-column
              %h4= t('views.properties.debt_structure.tooltips.create_interest')
              = form_tag create_interest_debt_path(debt), method: :post, class: 'form' do
                .col-sm-4
                  .field
                    = text_field_tag 'price', 0, class: 'form-control', placeholder: t('placeholders.common.price'), data: currency_field
                .col-sm-4
                  = submit_tag t('common.create'), class: 'btn btn-green-cf btn-block'

      .table-header.flex-row.table-footer
        - if current_user.admin?
          .flex-column
        .flex-column
        .flex-column-3= t('views.commons.total')
        .flex-column.right= to_currency(amount: @debts.sum(:price))
        .flex-column.right= to_currency(amount: @debts.sum(:money_paid))
        .flex-column.right= to_currency(amount: @debts.sum(:money_balance))
        .flex-column
        .flex-column= @property.get_common_debt_months_count
        - if current_user.admin?
          .flex-column-2

= automated_paginater(@paginated_debts)

- if can?(:destroy, Debt)
  = render partial: 'properties/modals/destroy_debt_confirmation_modal'
