= turbo_frame_tag "licenses_table" do
  .table-root
    .table-header.flex-row
      .salary-payment-drafts-collapse-col
      .flex-column= render(SortableColumnComponent.new(**sort_salary_payment_drafts_params(I18n.t('views.remunerations.salary_payment_drafts.extra_hours.employee'))))
      .flex-column= t('views.commons.rut')
      .flex-column= t('views.remunerations.salary_payment_drafts.licenses.days')
      .flex-column= t('views.remunerations.salary_payment_drafts.licenses.start_date')
      .flex-column= t('views.remunerations.salary_payment_drafts.licenses.end_date')
      .flex-column
        = t('views.remunerations.salary_payment_drafts.licenses.last_salary')
        %span.fa.fa-info-circle{ title: t('views.remunerations.salary_payment_drafts.licenses.sis'), data: { toggle: 'tooltip' } }
      .flex-column= t('views.commons.actions')

    - if @employees.any?
      = render partial: 'async/remunerations/licenses_table_row', collection: @employees, as: :employee
    - else
      %br
        .col-xs-12.alert.table-empty.center= t('views.remunerations.salary_payment_drafts.no_employees')
  = pagy_bootstrap_nav(@pagy_employees).html_safe
