= turbo_frame_tag "licenses_employee_#{employee.id}" do
  - salary = @salaries[employee.id]
  - salary_payment_draft = @salary_payment_drafts[salary.id]
  - if salary_payment_draft.present?
    - license_drafts = salary_payment_draft.license_drafts
    - if license_drafts.any?
      - salary_payment_draft.license_drafts.order(:created_at).each_with_index do |license, index|
        - if license.present?
          - reset_id = "reset-#{employee.id}-#{license.id}"
          - destroy_id = "destroy-#{employee.id}-#{license.id}"
          = form_with id: reset_id, url: reset_remuneration_salary_payment_draft_path(salary_payment_draft.id), method: :post, authenticity_token: true, params: { tab: :licenes } do |f|
            = hidden_field_tag 'tab', :licenses
          = form_for salary_payment_draft, url: remuneration_salary_payment_draft_path(salary_payment_draft.id), method: :patch, authenticity_token: true, params: { tab: :licenes }, html: { id: destroy_id } do |f|
            = f.hidden_field :updater_id, value: current_user.id
            = hidden_field_tag 'tab', :licenses
            = f.fields_for :license_drafts, license do |license_form|
              = license_form.hidden_field :id, value: license.id
              = license_form.hidden_field :_destroy, value: true

          = form_for salary_payment_draft , url: remuneration_salary_payment_draft_path(salary_payment_draft.id), method: 'PATCH', remote: true, authenticity_token: true, html: { data: { controller: 'remunerations--salary-payment-drafts--licenses-form remunerations--salary-payment-drafts--toggle-row', 'remunerations--salary-payment-drafts--licenses-form-target': 'form', 'remunerations--salary-payment-drafts--licenses-form-last-salary-payment-value': @last_salary_payments[employee.id].last_salary_payment } } do |f|
            = f.hidden_field :updater_id, value: current_user.id
            = hidden_field_tag 'tab', :licenses

            = f.fields_for :license_drafts, license do |license_form|
              = license_form.hidden_field :id, value: license.id
              .table-row.flex-row{ id: index.positive? ? "collapsable-#{employee.id}" : '' }
                - if index.zero?
                  .salary-payment-drafts-collapse-col
                    .fa{ data: { action: 'click->remunerations--salary-payment-drafts--toggle-row#call', target: employee.id } }
                  .flex-column= employee.full_name
                  .flex-column= employee.rut&.rutify
                - else
                  .salary-payment-drafts-collapse-col
                  .flex-column
                  .flex-column

                = render partial: 'async/remunerations/license_input_fields', locals: { employee: employee, license: license, license_form: license_form }

                .flex-column.actions-column
                  - if index.zero? && index == license_drafts.size - 1
                    = f.button type: :submit, form: reset_id, class: 'btn btn-default btn-s', title: t('views.remunerations.salary_payment_drafts.reset'), data: { toggle: 'tooltip' }, style: 'display: inline-block' do
                      .fa.fa-history
                    %div{ title: t('views.remunerations.salary_payment_drafts.licenses.add'), data: { toggle: 'tooltip', controller: 'remunerations--salary-payment-drafts--show-new' ,'remunerations--salary-payment-drafts--show-new-target': 'addNewTooltip' } }
                      .btn.btn-default.btn-s{ id: "add-new-#{employee.id}", data: { action: 'click->remunerations--salary-payment-drafts--show-new#call', target: "hidden-form-#{employee.id}" }, style: 'display: inline-block' }
                        .fa.fa-plus
                  - elsif index.zero?
                    = f.button type: :submit, form: reset_id, class: 'btn btn-default btn-s', title: t('views.remunerations.salary_payment_drafts.reset'), data: { toggle: 'tooltip' }, style: 'display: inline-block' do
                      .fa.fa-history
                    = f.button type: :submit, form: destroy_id, class: 'btn btn-default btn-s', title: t('views.remunerations.salary_payment_drafts.licenses.delete'), data: { toggle: 'tooltip' }, style: 'display: inline-block' do
                      .fa.fa-trash
                  - elsif index < license_drafts.size - 1
                    = f.button type: :submit, form: destroy_id, class: 'btn btn-default btn-s', title: t('views.remunerations.salary_payment_drafts.licenses.delete'), data: { toggle: 'tooltip' }, style: 'display: inline-block' do
                      .fa.fa-trash
                  - else
                    = f.button type: :submit, form: destroy_id, class: 'btn btn-default btn-s', title: t('views.remunerations.salary_payment_drafts.licenses.delete'), data: { toggle: 'tooltip' }, style: 'display: inline-block' do
                      .fa.fa-trash
                    %div{ title: t('views.remunerations.salary_payment_drafts.licenses.add'), data: { toggle: 'tooltip', controller: 'remunerations--salary-payment-drafts--show-new' ,'remunerations--salary-payment-drafts--show-new-target': 'addNewTooltip' } }
                      .btn.btn-default.btn-s{ id: "add-new-#{employee.id}", data: { action: 'click->remunerations--salary-payment-drafts--show-new#call', target: "hidden-form-#{employee.id}" }, style: 'display: inline-block' }
                        .fa.fa-plus


      = form_for SalaryPaymentDraft.new, url: remuneration_salary_payment_draft_path(salary_payment_draft.id), method: 'PATCH', remote: true, authenticity_token: true, html: { data: { controller: 'remunerations--salary-payment-drafts--licenses-form', 'remunerations--salary-payment-drafts--licenses-form-target': 'form', 'remunerations--salary-payment-drafts--licenses-form-last-salary-payment-value': @last_salary_payments[employee.id].last_salary_payment } } do |f|
        = f.hidden_field :salary_id, value: salary.id
        = f.hidden_field :payment_period_expense_id, value: salary_payment_draft.payment_period_expense.id
        = f.hidden_field :creator_id, value: current_user.id
        = hidden_field_tag 'tab', :licenses

        = f.fields_for :license_drafts, LicenseDraft.new do |license_form|
          .table-row.flex-row.hidden{ id: "hidden-form-#{employee.id}" }
            .salary-payment-drafts-collapse-col
            .flex-column
            .flex-column

            = render partial: 'async/remunerations/license_input_fields', locals: { employee: employee, license: license_form.object, license_form: license_form }

            .flex-column

    - else
      = form_for salary_payment_draft , url: remuneration_salary_payment_draft_path(salary_payment_draft.id), method: 'PATCH', remote: true, authenticity_token: true, html: { data: { controller: 'remunerations--salary-payment-drafts--licenses-form', 'remunerations--salary-payment-drafts--licenses-form-target': 'form', 'remunerations--salary-payment-drafts--licenses-form-last-salary-payment-value': @last_salary_payments[employee.id].last_salary_payment } } do |f|
        = f.hidden_field :updater_id, value: current_user.id
        = hidden_field_tag 'tab', :licenses

        = f.fields_for :license_drafts, LicenseDraft.new do |license_form|
          .table-row.flex-row
            .salary-payment-drafts-collapse-col
              .fa.fa-chevron-down
            .flex-column= employee.full_name
            .flex-column= employee.rut&.rutify

            = render partial: 'async/remunerations/license_input_fields', locals: { employee: employee, license: license_form.object, license_form: license_form }

            .flex-column
  - else
    = form_for SalaryPaymentDraft.new, url: remuneration_salary_payment_drafts_path, method: 'POST', remote: true, authenticity_token: true, html: { data: { controller: 'remunerations--salary-payment-drafts--licenses-form', 'remunerations--salary-payment-drafts--licenses-form-target': 'form', 'remunerations--salary-payment-drafts--licenses-form-last-salary-payment-value': @last_salary_payments[employee.id].last_salary_payment } } do |f|
      = f.hidden_field :salary_id, value: salary.id
      = f.hidden_field :payment_period_expense_id, value: @payment_period_expense.id
      = f.hidden_field :creator_id, value: current_user.id
      = hidden_field_tag 'tab', :licenses

      = f.fields_for :license_drafts, LicenseDraft.new do |license_form|
        .table-row.flex-row
          .salary-payment-drafts-collapse-col
            .fa.fa-chevron-down
          .flex-column= employee.full_name
          .flex-column= employee.rut&.rutify

          = render partial: 'async/remunerations/license_input_fields', locals: { employee: employee, license: license_form.object, license_form: license_form }

          .flex-column
